<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>My Chat</title>
    <link rel="stylesheet" href="css/main.css" />
</head>
<body>
    <h1>My Chat</h1>
    <ul class="messages"></ul>
    <form class="speaker" action="#" method="post">
        <input type="text" name="text" id="text" value="" placeholder="Your message..." autofocus />
        <input type="submit" id="send" value="Send" />
    </form>
    <script id="loader" data-app="client" data-main="js/main.js" src="js/require.js"></script>
</body>
</html>
